<div style="width:15em" class="item-prod " >

    <img src="https://marketcar.vteximg.com.br/arquivos/ids/158801-800-800/BluEarth_Es_ES32_ProductPicture.jpg?v=636525828828170000" class="card-img-top" alt="...">
    <div class="card-body" >
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.detail}}</p>
        <p class="card-text">$ {{product.price}}</p>

        <a href="#" class=" btn btn btn-outline-primary btn-sm">Add to Cart</a>
        <a href="#" class=" btn btn btn-outline-secondary btn-sm">Details </a>

    </div>
</div>
