<div>
    <h2 id="page-heading">
        <span jhiTranslate="neumaticosApp.measure.home.title">Measures</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-measure" [routerLink]="['/measure/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="neumaticosApp.measure.home.createLabel">
            Create a new Measure
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="measures?.length === 0">
        <span jhiTranslate="neumaticosApp.measure.home.notFound">No measures found</span>
    </div>
    <div class="table-responsive" *ngIf="measures?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="neumaticosApp.measure.tiretype">Tiretype</span></th>
            <th scope="col" ><span jhiTranslate="neumaticosApp.measure.width">Width</span></th>
            <th scope="col" ><span jhiTranslate="neumaticosApp.measure.height">Height</span></th>
            <th scope="col" ><span jhiTranslate="neumaticosApp.measure.diameter">Diameter</span></th>
            <th scope="col" ><span jhiTranslate="neumaticosApp.measure.speedrating">Speedrating</span></th>
            <th scope="col" ><span jhiTranslate="neumaticosApp.measure.load">Load</span></th>
            <th scope="col" ><span jhiTranslate="neumaticosApp.measure.detail">Detail</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let measure of measures ;trackBy: trackId">
                <td><a [routerLink]="['/measure', measure.id, 'view' ]">{{measure.id}}</a></td>
                <td>{{measure.tiretype}}</td>
                <td>{{measure.width}}</td>
                <td>{{measure.height}}</td>
                <td>{{measure.diameter}}</td>
                <td>{{measure.speedrating}}</td>
                <td>{{measure.load}}</td>
                <td>{{measure.detail}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/measure', measure.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/measure', measure.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(measure)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
