<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usuarios">
            <h2><span jhiTranslate="neumaticosApp.usuarios.detail.title">Usuarios</span> {{usuarios.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="neumaticosApp.usuarios.name">Name</span></dt>
                <dd>
                    <span>{{usuarios.name}}</span>
                </dd>
                <dt><span jhiTranslate="neumaticosApp.usuarios.surname">Surname</span></dt>
                <dd>
                    <span>{{usuarios.surname}}</span>
                </dd>
                <dt><span jhiTranslate="neumaticosApp.usuarios.email">Email</span></dt>
                <dd>
                    <span>{{usuarios.email}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/usuarios', usuarios.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
